/* #708090 (slate grey) #FFDAB9(peach) #F2F2F2 (light grey) #333333(dark grey) */

/* Styles for light mode */
body {
  background-color: #ffdab9; /* background color for light mode */
  color: #333; /* text color for light mode */
}

.theme-card {
  background-color: #ffdab9; /*  background color for theme cards */
}

.theme-card:hover {
  background-color: #e0e0e0; /* background color for theme cards on hover */
}


/*  #f8f9f2(white) #0c83742(red) #f2ab2b(gold) */
/* MOBILE FIRST MEDIA QUERY */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

html {
    font-family: "Patrick Hand SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f2f2f2;
    color: #333;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 98vh;
}

/* NAVBAR RELATED */
/* #region */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2AB2B;
    color: #333;
    padding: 20px;
}

.navbar-logo img {
    width: 75px;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
}

.navbar-menu {
    display: none;
    width: 100%;
    list-style: none;
}

.navbar-links,
.navbar-search button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7px 0;
    text-decoration: none;
    color: #333;
    background-color: #f2f2f2;
}

.navbar-links {
    border: none;
    background-color: #f8f9f2;
    padding: 10px 0 10px 0;
    margin-right: 40%;
    margin-left: 30%;
    color: #09181C;
    border-radius: 25px;
}

.navbar-links:hover {
    background-color: #C83742;
}

.search-btn {
    padding: 8px 15px;
    border: none;
    background-color: #09181C;
}

.navbar-search {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-search input {
    padding: 5px;
    margin-right: 5px;
}

/* #endregion */

/* MAIN CONTENT */
/* #region */
main {
    grid-row: 2;
    color: #f8f9f2;
}

.welcome {
    padding: 10% 0 0 5%;
    color: #f8f9f2;
}

.login-button {
    padding: 10px 20px 10px 20px;
    background-color: #f8f9f2;
}

.login-button:hover {
    background-color: #F2AB2B;
}

/* #endregion */

/* (Mobile) Cards Stylin Starts Here */
/* #region */
.cards-column {
    display: block;
    margin-bottom: 10px;
}

.card {
    padding: 16px;
    background-color: #708090;
}

.button {
    background-color: black;
    color: #f8f9f2;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* #endregion */
/* Cards Styling End Here */

/* Create a Card Form Style */
/* #region */
.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.card-form-group label {
    width: 150px;
    margin-right: 10px;
    text-align: right;
}

.card-form-group input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #f8f9f2;
    border-radius: 4px;
}

#successMessage {
    background-color: greenyellow;
    color: black;
    text-align: center;
}

/* Custom modal for prompt to confirm submission */
.custom-prompt-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-prompt-content {
    background: #f2ab2b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.close-button {
    float: right;
    cursor: pointer;
}

/* Custom modal for save/unsave function */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .modal-content {
    background: #f2ab2b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px; /* Adjust based on your preference */
  }
  
  .close-modal-button {
    float: right;
    cursor: pointer;
  }

/* #endregion */
/* da foot */

/* MAIN.HTML CONTENT STYLE */
/* #region */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.action-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #09181c;
    background-color: #f8f9f2;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.action-button:hover {
    background-color: #c83742
}

.action-button:active {
    background-color: #c83742;
    box-shadow: 0 5px #666;
}

.no-save-found {
    text-align: center;
}

/* #endregion */
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    grid-row: 3;
    color: #f8f9f2;
}

/* #region FlashCardContainer */
.flashcard-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.flashcard {
    width: 550px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.7s ease-in;
}

.flashcard.flipped {
    transform: rotatey(180deg);
}

.frontofcard,
.backofcard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.frontofcard {
    background-color: #f2ab2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backofcard {
    background-color: #f2ab2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.flashcard h2 {
    margin: 0;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons>button {
    height: 30px;
    width: 100px;
}

/* #endregion */

/* PROFILE PAGE RELATEd */
/* #region */
.theme-card {
    display: inline-block;
    width: calc(33.33% - 20px); /* Adjust the width as per your preference */
    margin: 10px;
    padding: 20px;
    background-color: #f2ab2b; /* Default background color */
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .theme-card:hover {
      background-color: #e0e0e0; /* Background color on hover */
  }
  /* #endregion */    

/* MEDIA QUERY FOR LARGER SCREENS */
@media (min-width: 701px) {
    .navbar {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

    .navbar-menu li:last-child .navbar-links {
        margin-left: 100px;
        color: gray;
    }

    .navbar-links {
        margin-left: 20px;
        padding: 0px;
        border-radius: 0px;
        background-color: #F2AB2B;
    }

    .navbar-links:hover {
        background-color: #F2AB2B;
        color: #f8f9f2;
    }

    .navbar-search {
        margin-left: 5px;
        justify-content: flex-end;
    }

    .navbar-search input {
        margin-right: 10px;
    }


    /* (Large Screen) Cards Styling Start Here */
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .cards-column {
        width: 45%;
        height: 200px;
    }

    .card {
        margin: 4%;
        background-color: #F2AB2B;
    }

    .button {
        background-color: black;
        color: #f8f9f2;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    /* Cards Styling End Here */

    /* #region FlashCardContainer */
    .flashcard-container {
        perspective: 1000px;
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 10px;
    }

    .flashcard {
        width: 600px;
        height: 400px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 0.7s ease-in;
    }

    .flashcard.flipped {
        transform: rotatey(180deg);
    }

    .frontofcard,
    .backofcard {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
    }

    .frontofcard {
        background-color: #f2ab2b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backofcard {
        background-color: #f2ab2b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotateY(180deg);
    }

    .flashcard h2 {
        margin: 0;
        padding: 10px;
    }
    /* #endregion */

}