/* #708090 (slate grey) #FFDAB9(peach) #F2F2F2 (light grey) #333333(dark grey) */


/* Styles for light mode */
/* body {
  background-color: #ffdab9;
  color: #FFFFFF; 
}

.theme-card {
  background-color: #ffdab9;
}

.theme-card:hover {
  background-color: #e0e0e0;
} */


/* THIS IS DEFAULT STYLESHEET */
/* MOBILE FIRST MEDIA QUERY */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* dark grey */
    --background-color: #ffdab9;
    /* gold */
    --main-color: rgb(242, 171, 43);
    /* grey */
    --border-color: rgb(242, 171, 43, 0.1);
    /* adjusted for nav border lines */
    --text-color: rgb(1, 1, 1);
    /* white */
    --hover-color: rgb(200, 55, 66);
    /* a red */
    --shadow-color: rgb(153, 153, 153);
    /* light grey */
    --alert-color: rgb(173, 255, 47);
    /* alert highlight */
    --font-size: 15px;
    /* constant font size set */
    --button-padding: 8px 16px;
    /* container padding */
    --button-height: 40px;
    /* container height constant */
    --button-width: 80x;
    /* container width constant */
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-size);
    background-color: var(--background-color);
    margin: 0;
}

/* NAVBAR RELATED */
/* #region */
.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--main-color);
    padding: 10px;
    font-size: var(--font-size);
    z-index: 1001;
    /* ENSURE NAVBAR IS ABOVE ALL ELSE . */
}

.navbar-logo img {
    width: 75px;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 30px;
    height: 3px;
    background-color: var(--text-color);
}

.navbar-menu {
    display: none;
    width: 100%;
    list-style: none;
    background: hsl(188, 100%, .5);
}

.navbar-links,
.navbar-search-button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7px 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(60, 60, 60);
    font-size: var(--font-size);
    padding: 10px 0 10px 0;
    margin-right: 40%;
    margin-left: 30%;
    color: rgb(255, 255, 255);
    height: var(--button-height);
    transition: background-color 0.3s ease;
}

.navbar-links:hover {
    background-color: var(--hover-color);
}

.search-btn {
    visibility: hidden;
    font-size: var(--font-size);
    padding: var(--button-padding);
    border-radius: 25px;
    background-color: rgb(60, 60, 60);
    transition: background-color 0.3s ease;
    color:  rgb(255, 255, 255);
}

.search-btn:hover {
    background-color: var(--hover-color);
}

.navbar-search {
    padding: 0 0 10px 10px;
    margin-right: 40%;
    margin-left: 30%;
    width: 100%;
    height: 60px;
}

.navbar-search input {
    display: flex;
    border-radius: 25px;
    /* padding: 10px 0 10px 0; */
    width: 30%;
    height: 60px;
    font-size: var(--font-size);
    text-align: start;
}

/* #endregion */

/* MAIN CONTENT */
/* #region */
main {
    grid-row: 2;
    color: var(--text-color);
    padding: 12px;
    margin-top: 140px;
}

h1 {
    padding: 20px;
}

#firebaseui-auth-container {
    margin-top: 300px;
}


#user-role-display {
    padding: 10px;
    margin-left: 10px;
}

.welcome {
    padding: 10% 0 0 5%;
    color: var(--text-color);
}

.login-button {
    border-radius: 25px;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color: var(--text-color);
    background-color: var(--main-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--hover-color);
}
/* #endregion */

/* MAIN.HTML CONTENT STYLE */
/* #region */
.button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: space-between;
    width: auto;
    margin-left: 2%;
}

.action-button {
    display: inline-block;
    grid-row: 2;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    font-size: var(--font-size);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--main-color);
    border-radius: 25px;
    box-shadow: 0 9px var(--shadow-color);
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #c83742
}

.action-button:active {
    background-color: var(--hover-color);
    box-shadow: 0 5px var(--shadow-color);
}

.no-save-found {
    text-align: center;
}
/* #endregion */

/* DECK DESIGN  */
/* #region */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.cards-column {
    display: flex;
    position:wrap;
    margin-bottom: 10px;
    width: 90%;
    padding: 16px;
}

.card {
    padding: var(--font-size);
    background-color: var(--main-color);
    box-shadow: 0 9px var(--shadow-color);
    width: 100%;
    border-radius: 20px;
}

.button {
    background-color: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: var(--hover-color);
}

/* #endregion */

/* CREATE CREATE STYLING*/
/* #region */
.create-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.card-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.card-form-group label {
    width: 30%;
    font-size: var(--font-size);
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: left;
}

.card-form-group input {
    width: 100%;
    height: 40px;
    margin-left: 20px;
}

.card-form-group textarea {
    align-content: first baseline;
    border-width: 8px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    border: var(--border-color);
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 20px;
    resize: none;
}

.create-button {
    margin-top: 20px;
    margin-right: auto;
    width: 100px;
    height: var(--button-size);
    font-size: var(--font-size);
    cursor: pointer;
    border-radius: 25px;
    color: var(--text-color);
    background-color: rgb(242, 171, 43);
    transition: background-color 0.3s ease;
}

.create-button:hover {
    background-color: var(--hover-color);
}


label.importDeck {
    margin-right: 0;
    width: 30%;
    height: 40px;
    background-color: var(--text-color);
    color: var(--shadow-color);
    cursor:text;
}

#importDecksButton {
    width: 140px;
}

span.import-container {
    float: inline-end;
    margin-left: 40px;
}

#successMessage {
    background-color: var(--alert-color);
    color: var(--text-color);
    text-align: center;
}
/* #endregion */

/* Custom modal for prompt to confirm submission */
/* #region */
.custom-prompt-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-prompt-content {
    background: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
    float: right;
    cursor: pointer;
}
/* #endregion */

/* Custom modal for save/unsave function */
/* #region */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure it's above other content */
}

.modal-content {
    background: var(--main-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
    /* Adjust based on your preference */
}

.close-modal-button {
    float: right;
    cursor: pointer;
}
/* #endregion */

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    grid-row: 3;
    color: #f8f9f2;
}

/* REVIEW FLASHCARD STYLING */
/* #region */
.flashcard-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
}

.flashcard {
    width: 100%;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.7s ease-in;
}

.flashcard.flipped {
    transform: rotatey(180deg);
}

.frontofcard,
.backofcard {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
    cursor:pointer;
}

.frontofcard {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backofcard {
    background-color: #f2ab2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.flashcard h2 {
    margin: 0;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons>button {
    height: 40px;
    width: 100px;
    background-color: #f2ab2b;
    border-radius: 20px;
    cursor: pointer;
}

/* #endregion */

/* SETTING PAGE STYLE */
/* #region */
.profile-form {
    padding: 20px;
    border-radius: 25px;
    align-items: center;
    width: auto;
}

.profile-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.profile-form-group label {
    width: 50%;
    font-size: var(--font-size);
    margin-right: 20px;
    margin-left: 10px;
    text-align: left;
}

.profile-form-group input {
    font-size: var(--font-size);
    color: black;
    max-width: 350px;
    width: 100%;
    height: var(--button-size);
    margin-right: 30px;
    margin-left: 30px
}

.form-button>button {
    font-size: var(--font-size);
    margin: 1rem;
    width: 128px;
    height: var(--button-size);
    border-radius: 25px;
    color:  rgb(255, 255, 255);
    background-color: rgb(60, 60, 60);
}

.button-edit:hover,
.button-save:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#themeButtons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    text-align: center;
}

.theme-card {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #f2ab2b;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-card:hover {
    background-color: #c83742;
}

/* #endregion */

/* MEDIA QUERY FOR LARGER SCREENS */
@media (min-width: 701px) {
    .navbar {
        display: flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 10px;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: var(--border-color);
        font-size: var(--font-size);
        margin: 0;
        z-index: 1001;
        height: 100px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-logo img {
        width: 75px;
        padding: 10px;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        margin: 0 auto;
    }

    .navbar-menu li:not(:last-child) {
        margin-right: 10px;
    }

    .navbar-menu li:last-child {
        margin-left: auto;
        margin-right: 3rem;
    }

    .navbar-menu li:last-child a {
        color: var(--);
        font-size: var(--font-size);
        margin-right: 10%;
    }

    .navbar-menu li:last-child a:hover {
        color: var(--hover-color);
        transition: color 0.3s ease;
    }

    .navbar-links {
        margin-left: 50px;
        padding: 0px;
        background-color: var(--main-color);
        transition: color 0.3s ease;
    }

    .navbar-links:hover {
        background-color: var(--main-color);
        color: var(--hover-color);
    }

    .navbar-search {
        display: flex;
        justify-content: center;
        margin-right: 10%;
        margin-left: 10%;
        width: 100%;
    }

    .search-btn {
        visibility: visible;
    }

    .navbar-search input {
        margin-right: 20px;
        font-size: var(--font-size);
        border-radius: 15px;
        text-align:justify;
        margin-top: 7px;
        min-width: 200px;
        width: 100%;
        outline-color: var(--hover-color);
    }
    
    /* Cards Styling */
    /* #region */
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px;
        width: auto;
    }

    .saved-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .cards-column {
        width: 45%;
        padding: 10px 20px 10px 20px;
        align-content: center;
        margin: 6px;
    }

    .card {
        margin: 4%;
        background-color: #F2AB2B;
    }

    .action-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .action-button:hover {
        background-color: var(--hover-color)
    }

    .button {
        background-color: rgb(60, 60, 60);
        color:  rgb(255, 255, 255);
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
    /* #endregion */

    /* FlashCardContainer */
    /* #region */
    .flashcard-container {
        perspective: 1000px;
        display: flex;
        justify-content: center;
        padding: 5px;
        margin: 10px;
    }

    .flashcard {
        width: 600px;
        height: 400px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 0.7s ease-in;
    }

    .flashcard.flipped {
        transform: rotatey(180deg);
    }

    .frontofcard,
    .backofcard {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
    }

    .frontofcard {
        background-color: #f2ab2b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .backofcard {
        background-color: #f2ab2b;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotateY(180deg);
    }

    .flashcard h2 {
        margin: 0;
        padding: 10px;
    }
    /* #endregion */

    /* Profle Design (Large Screen) */
    /* #region */
    .profile-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    
    .profile-form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        width: 50%;
    }
    
    .profile-form-group label{
        font-size: 17px;
        width: 150px;
        margin-right: 20px;
        text-align: right;
    }
    
    .profile-form-group input {
        font-size: 15px;
        flex-grow: 1;
        border-radius: 5px;
        color: black;
        text-align: left;
    }
    
    .profile-form-group output{
        font-size: 17px;
    }
    
    .form-button{
        display: flex;
        justify-content: center;
    }
    
    .form-button > button{
        margin: 5px;
        width: 100px;
        height: auto;
    }

    .form-button>.button-req {
        width: auto;
        border-radius: 30px;
        height: auto;
        margin-block-start: auto;
    }
    
    #themeButtons{
        display: flex;
        width: auto;
        height: 100px;
        font-size: 10px;
        text-align: center;
    }
    .theme-card {
        display: inline-block;
        width: calc(33.33% - 20px);
        margin: 10px;
        padding: 20px;
        background-color: #f2ab2b;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    /* #endregion */

    /* CREATE CARD FORM LARGE QUERY */
    /* #region */
    .create-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        width: auto;
    }

    .card-form-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;
    }

    .card-form-group label {
        width: 120px;
        font-size: var(--font-size);
        margin-bottom: 20px;
        margin-left: 20px;
        text-align: left;
    }

    .card-form-group input {
        width: 70%;
        border-width: 1px;
        height: 50px;
        resize: none;
        font-size: var(--font-size);
    }

    .card-form-group textarea {
        position: sticky;
        align-content: center;
        border-width: 8px;
        width: 70%;
        height: 100px;
        box-sizing: border-box;
        border-color: var(--border-color);
        background-color: rgb(255, 255, 255);
        font-size: var(--font-size);
        resize: none;
        scrollbar-color: var(--main-color);
    }

    .create-button {
        margin-top: 20px;
        margin-right: 20px;
        width: 140px;
        height: var(--button-height);
        font-size: var(--font-size);
        cursor: pointer;
        border-radius: 25px;
        color: var(--text-color);
        background-color:  rgb(242, 171, 43);
        transition: background-color 0.3s ease;
    }

    .create-button:hover {
        background-color: var(--hover-color);
    }

    .card-form-group > .button-container {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        gap: 10px;
    }

    label.importDeck {
        margin-right: 0;
        width: 25%;
        height: 40px;
        background-color: rgb(255, 255, 255);
        color: var(--shadow-color);
        cursor:text;
    }

    #importDecksButton {
        margin-bottom: 30px;
    }

    span.import-container {
        float:right;
        align-items: flex-end;
        position: static;
    }

    #successMessage {
        background-color: var(--alert-color);
        color: var(--text-color);
        text-align: center;
    }

    /* #endregion */
}