/*  #f8f9f2(white) #09181c(blue) #f2ab2b(gold) #c83742(red) */
/* MOBILE FIRST MEDIA QUERY */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

html {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 98vh;
}

/* NAVBAR RELATED */
/* #region */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F2AB2B;
    padding: 20px;
}

.navbar-logo img {
    width: 75px;
}

.navbar-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #09181c;
}

.navbar-menu {
    display: none;
    width: 100%;
    list-style: none;
}

.navbar-links,
.navbar-search button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 7px 0;
    text-decoration: none;
    color: #C83742;
}

.navbar-links {
    border: none;
    background-color: #f8f9f2;
    padding: 10px 0 10px 0;
    margin-right: 40%;
    margin-left: 30%;
    color: #09181C;
    border-radius: 25px;
}

.navbar-links:hover {
    background-color: #C83742;
}

.search-btn {
    padding: 8px 15px;
    border: none;
    background-color: #09181C;
}

.navbar-search {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-search input {
    padding: 5px;
    margin-right: 5px;
}

/* #endregion */

/* MAIN CONTENT */
/* #region */
main {
    grid-row: 2;
    color: #f8f9f2;
}

.welcome {
    padding: 10% 0 0 5%;
    color: #f8f9f2;
}

.login-button {
    padding: 10px 20px 10px 20px;
    background-color: #f8f9f2;
}

.login-button:hover {
    background-color: #F2AB2B;
}

/* #endregion */

/* (Mobile) Cards Stylin Starts Here */
/* #region */
.cards-column {
    display: block;
    margin-bottom: 10px;
}

.card {
    padding: 16px;
    background-color: #f2ab2b;
}

.button {
    background-color: black;
    color: #f8f9f2;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

/* #endregion */
/* Cards Styling End Here */

/* Create a Card Form Style */
/* #region */
.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; 
}

.card-form-group label {
    width: 150px; 
    margin-right: 10px;
    text-align: right;
}

.card-form-group input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #f8f9f2;
    border-radius: 4px;
}

/* #endregion */
/* da foot */
footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    grid-row: 3;
    color: #f8f9f2;
}

/* MEDIA QUERY FOR LARGER SCREENS */
@media (min-width: 701px) {
    .navbar {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-menu {
        display: flex;
        align-items: center;
    }

    .navbar-menu li:last-child .navbar-links {
        margin-left: 100px;
        color: gray;
    }

    .navbar-links {
        margin-left: 20px;
        padding: 0px;
        border-radius: 0px;
        background-color: #F2AB2B;
    }

    .navbar-links:hover {
        background-color: #F2AB2B;
        color: #f8f9f2;
    }

    .navbar-search {
        margin-left: 5px;
        justify-content: flex-end;
    }

    .navbar-search input {
        margin-right: 10px;
    }


    /* (Large Screen) Cards Styling Start Here */
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .cards-column {
        width: 45%;
        height: 200px;
    }

    .card {
        margin: 4%;
        background-color: #F2AB2B;
    }

    .button {
        background-color: black;
        color: #f8f9f2;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    /* Cards Styling End Here */
}
